<div ng-controller='chatCtrl'>
	<div class="container">
  <h2>Chatting Room </h2>
  <form>
    <div class="form-group">
      <label for="sendFrom">from</label>
      <input type="text" class="form-control" id="sendFrom" ng-model="sendFrom" required>
    </div>
    <div class="form-group">
      <label for="sendTo">to</label>
      <input type="text" class="form-control" id="sendTo" ng-model="sendTo" required>
    </div>
    <div class="form-group">
    <label for="content">Enter your message here!</label>
    <input class="form-control input-lg" id="content" type="text" ng-model="content" required>
  </div>
  </form>
  <div>
  	<center>
  	 <button type="button" class="btn btn-success" ng-click="addChat()">Send</button>
  	  <button type="button" class="btn btn-danger" ng-click="get()">Recieve</button>
  	</center>
  </div>
</div>
	
</div>